<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Projeto de Sistemas</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
		<meta name="viewport" content = "width=device-width, initial-scale=1.0"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

		<style type="text/css">
			html,
			body {
				height:100%
			}
		</style>
	</head>

	<body class="body" style="background-color:#f6f6f6">
        <form method="POST" action="/run_analysis/">
            {% csrf_token %}
			<input id="search_bar" type="text" placeholder="Enter movie title" name="search_bar">
            <input type="submit" value="Run">
        </form>
        {% block content %}
		{% endblock %}
	</body>

</html>